body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
}

.App{
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;

  margin-top: 3rem;
  padding: 0.625rem;
}

.calculator-keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-gap: 0.625rem;
  padding-top: 0.625rem;
}



.equal-sign {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;

  height: 100%;
  background-color: grey;
}

input {
 text-align: end;
 background-color: grey;
 padding: 0.5rem;
 color: white;
 border-radius: 0.5rem;
 outline: none;
 border: none;
 width: 95%;

}